*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style start heare */
.font-open-sans{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto; 
}
/* shared style end heare */

.logo{
    font-size: 45px;
    font-weight: 800;
}

.color-orange{
    color: #FD6E0A;
}

/* main style start heare */
header{
    background-color: #FFF8F3;
    padding-top: 30px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}

.btn{
    background-color: #FD6E0A;
    width: 150px;
    height: 65px;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.btn:hover{
    cursor: pointer;
}




