*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style start heare */
.font-open-sans{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto; 
}
/* shared style end heare */

/* header sectione style start heare */
.logo{
    font-size: 45px;
    font-weight: 800;
}

.color-orange{
    color: #FD6E0A;
}

header{
    background-color: #FFF8F3;
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
    padding-top: 30px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}

.btn{
    background-color: #FD6E0A;
    width: 150px;
    height: 65px;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom:  30px;
}

.section-heading p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.text-center{
    text-align: center;
}

/* header sectione style end heare */

/* banner sectione style start heare */
#banner{
    /* border: 2px solid; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;

}

#banner .banner-imag img{
    max-width: 585px;
    vertical-align: middle;
}

/* banner sectione style End heare */

/* About sectione style start heare */

#about , #skills , #resume{
    padding-top: 127px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    
    color: #757575;
    line-height: 30px;
    margin-bottom: 5px;
}

.about-info .info-card h4{
    font-size: 20px;
}
/* About sectione style end heare */

/* Skill sectione style start heare */

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skills-box{
    display: flex;
    gap: 24px;
}

.skills-box .skills-card{
    padding: 30px;
    /* border: 2px solid; */
    box-shadow: 0 6px 50px 0 #00000059;
    max-width: 267px;
}

.skills-card img{
    max-width: 44px;
    margin-bottom: 30px;    
}

.skills-card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}

.skills-card p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 28px;
    color: #757575;
}

/* Skill sectione style end heare */

/* resume sectione style start heare */

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.resume-container hr{
    margin: 30px 0;
}

.resume-container .section-title{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card .card-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #757575;
    margin-bottom: ;
}

/* resume sectione style end heare */

/* footer sectione style start heare */

footer{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 113px 0;
}

footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}

.footer-container .social{
    max-width: 562px;
}

.footer-container h2{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20PX;
}

.footer-container .social p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    font-weight: ;
    margin-bottom: 30px;
}

.footer-container .icon a{
    margin-right: 24px;
    color: #FD6E0A;
}

.footer-container .form input[type="text"]{
    width: 461px;
    padding: 28px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}

/* footer sectione style end heare */